<!DOCTYPE html>
<html>

<head>
  <title>Leaderboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Check out the leaderboard rankings">
  <meta name="description" content="Check out the leaderboard rankings" id="leaderboard-metadata">
  <meta name="theme-color" content="#00FFFF">

  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
  <div class="theme-switch">
    <input type="checkbox" id="toggle-theme" class="toggle-checkbox">
    <label for="toggle-theme" class="toggle-label"></label>
  </div>
  <h1>Leaderboard</h1>
  <p><a href="https://github.com/Colon101/TERMiGUi" target="_blank" class="glow-on-hover">Check out my program</a>
  </p>
  <table>
    <tr>
      <th>Rank</th>
      <th>Username</th>
      <th>Score</th>
    </tr>
    <% leaderboard.forEach(function(row, index) { %>
      <tr>
        <td>
          <%= index + 1 %>
        </td>
        <td>
          <%= row.username %>
        </td>
        <td>
          <%= row.score %>
        </td>
      </tr>
      <% }); %>
  </table>
  <script src="script.js"></script>
</body>

</html>